<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SFSafariToolbarItem</key>
	<dict>
		<key>Label</key>
		<string>ShortBlock</string>
		<key>Image</key>
		<string>toolbar-icon.svg</string>
		<key>Identifier</key>
		<string>com.vd.ShortBlock.Extension</string>
		<key>Action</key>
		<string>Popup</string>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.web-extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariWebExtensionHandler</string>
	</dict>
</dict>
</plist>
